<h1>Error Page</h1>
<h1>Your input is invalidate</h1>
<h2>Attention!</h2>
<br />
<hr />
<br />
<p>1. The Product ID cannot be DUPLICATED.</p>
<p>2. Product ID must be a number (1 - 999,999,999).</p>
<p>3. The length of Product Name must be greater than 5.</p>
<p>4. Price and Quantity must be greater than 0.</p>

<a asp-action="Index">Back to List</a>
